.classOne{
    background-color: cornflowerblue;
    padding: 20px;
}
.classTwo{
    font-family: 'Courier New';
}
.classThree{
    background-color: violet;
    padding: 20px;
}

input.ng-invalid.ng-touched{
    border-color: red;
    border-width: 2px;
}