<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!!
  </h1>
  <h2> ngClass Test </h2>
  <p [ngClass]="'classOne classtwo classThree'"> 
      >> ngClass directive allows to set the css class dynamically for the DOM. <br>
      >> ngClass with String. <br>
      >> ngClass with array. <br>
      >> ngClass with object. <br>
      >> ngClass with component method. <br>
  </p>
  <hr>
 </div>
<router-outlet></router-outlet>