<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!!
  </h1>
  <h2> Two Way Binding  </h2>
  <pre [ngClass]="['classOne','classtwo','classThree']"> 
    
      <code>

       < input [value]='data1' (input)='data=$event.target.value' > <br>
       Binding Using ngModel Directive
       < input [(ngModel)]='data' >
      </code>
</pre>
  Enter your Name: <br>
  <input [value]='data' (input)='data=$event.target.value'> <br>
  your Name: {{data}}
  <hr>
 </div>
<router-outlet></router-outlet>