.companyList{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}
.companyList ul{
    list-style-type: disc;
    margin: 0px;
}
.companyList ul li{
    display: block;
    list-style-type: none;
}
.companyList ul li a:hover{
  color: darkred;
  font-size: 30px;
  font-weight: 100;
  list-style: none;
  text-decoration: none;
}